<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    @Html.ActionLink("Entmaa", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="@Url.Action("Index", "Home")">
                    Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                @Html.ActionLink("About", "About", "Home", null, new { @class = "nav-link" })
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Themes</a>
                <div class="dropdown-menu">
                    <button class="change-style-menu-item dropdown-item" rel="flatly">Flatly</button>
                    <div class="dropdown-divider"></div>
                    <button class="change-style-menu-item dropdown-item" rel="darkly">Darkly</button>
                </div>
            </li>
        </ul>
        @Html.Partial("_LoginPartial")
    </div>
</nav>